.Row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  border-top: 2px solid lightgray;
}

.audio_container {
  margin-left: 5rem;
  width: 20rem;
}

.id_data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20rem;
  margin-left: 5rem;
}

.speaker {
  margin-left: 5rem;
}