.header {
    height: 10rem;
}

.Navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
}

.Navbar a {
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.Navbar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.home_name {
    font-size: 1.5rem;
    padding-right: 10rem;
}

.nav_items {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    flex-grow: .5;
}