.Navbar {
    background-color: rgb(122, 122, 122);
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.Navbar a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.Navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}