.App {
  text-align: center;
  --accent-color: rgb(218, 172, 22);
  --background-color: #FFFFFF;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--background-color);
}

.bubble {
  display: inline-block;
  padding: 1rem 2rem 2rem 2rem;
  text-align: left;
}